<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head(Diary)}"></head>
<link rel="stylesheet" href="/css/petnote/diary.css"/>
<link rel="stylesheet" href="/css/petnote/profile.css"/>
<body>
<nav class="sidebar">
    <ul>
        <a href="/index/index"><li class="logo"><img src="/images/logo.png" alt="로고"></li></a>
        <a th:href="@{/petnote/profile/{petID}(petID=${petID})}"><li>프로필</li></a>
        <a th:href="@{/petnote/diary/{petID}(petID=${petID})}"><li class="active">성장일기</li></a>
    </ul>
<!--    <div class="pet-info">-->
<!--        <select name="petID" onchange="location.href='/petnote/diary/' + this.value">-->
<!--            <option th:each="pet : ${petList}"-->
<!--                    th:value="${pet.id}"-->
<!--                    th:text="${pet.petName}"-->
<!--                    th:selected="${pet.id == petID}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->
    <form th:action="@{/member/logout}" method="post">
        <button type="submit" class="btn btn-logout">
            <i class="bi bi-box-arrow-right"></i> 로그아웃
        </button>
    </form>
</nav>
<div class="container min-vh-100">

    <div class="list-box">
        <th:block th:if="${diaryDtoList != null and !diaryDtoList.isEmpty()}">
            <div class="search-wrap">
                <div class="mb-3 search-box diary-btn">
                    <a th:href="@{/petnote/diaryreg/{petID}(petID=${petID})}">
                        <button class="btn" type="button">일기쓰러 가기</button>
                    </a>
                </div>
            </div>
            <ul class="list type02">
                <li class="d-flex" th:each="item : ${diaryDtoList}">
                    <a th:href="@{/petnote/diaryview/{id}(id=${item.id})}">
                        <div th:if="${item.image != null}" class="img-box">
                            <img th:src="@{'/PTGUpload/diary/' + ${item.image}}" onerror="this.onerror=null; this.src='/images/noImage.png'"/>
                        </div>
                        <div th:if="${item.image == null}"   class="img-box">
                            <img src="/images/noImage.png"
                                 alt="사진"/>
                        </div>
                        <div class="desc">
                            <p class="title" th:text="${item.subject}">1KG 증량</p>
                            <p class="name" th:text="${item.pet.petName}">알리</p>
                        </div>
                    </a>
                </li>
            </ul>
        </th:block>
        <th:block th:if="${diaryDtoList == null or diaryDtoList.isEmpty()}">
            <div class="no-diary">
               아직 일기가 없어요😺
            </div>
            <div class="search-wrap nbt">
                <div class="mb-3 search-box nodiary-btn">
                    <a th:href="@{/petnote/diaryreg/{petID}(petID=${petID})}">
                        <button class="btn" type="button">일기쓰러 가기</button>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
<script>
    // This is an example script, please modify as needed
    const rangeInput = document.querySelector("#range-input");
    const rangeOutput = document.querySelector("#range-value");

    // Set initial value
    rangeOutput.textContent = rangeInput.value;

    rangeInput.addEventListener("input", function () {
        rangeOutput.textContent = this.value;
    });
</script>
</html>
