<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head(PETLIST)}"></head>
<link rel="stylesheet" href="/css/petnote/list.css" />
<body>
<header th:replace="~{fragments/header}"></header>
<div class="main-visual">
    <div class="slogan">
        <p class="main">
            <span>pet</span> <span>the</span> <span>garden</span>
        </p>
        <p class="sub">강아지도 고양이도 행복한 정원</p>
    </div>
</div>
<div class="container min-vh-100">
    <div class="mb-3 search-box">
        <input type="text" class="form-control" placeholder="search"/>
        <button class="btn" type="button">search</button>
    </div>

    <div class="list-box">
        <ul class="list">
            <li class="d-flex">
                <div class="col-md-2"> <!-- 이미지 크기 축소 -->
                    <img src="/images/dummy.jpg" class="img-fluid thumbnail" alt="...">
                </div>
                <!-- 텍스트 영역 -->
                <div class="col-md-8 p-3"> <!-- 텍스트 영역 크기 축소 및 패딩 줄임 -->
                    <div class="card-body">
                        <h3 class="card-title mb-3">알리</h3>
                        <div class="card-text">
                            <dl>
                                <dt class="fw-bold">종류</dt>
                                <dd>강아지</dd>
                            </dl>
                            <dl>
                                <dt class="fw-bold">분양주</dt>
                                <dd>김은경</dd>
                            </dl>
                            <dl>
                                <dt class="fw-bold">나이</dt>
                                <dd>3세 추정</dd>
                            </dl>
                            <dl>
                                <dt class="fw-bold">특이사항</dt>
                                <dd>밥 투정이 있음</dd>
                            </dl>
                            <dl>
                                <dt class="fw-bold">지역</dt>
                                <dd>일산</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </li>











            <!--            <li class="d-flex">-->
<!--                <div class="col-md-3">-->
<!--                    <img-->
<!--                            src="/images/dummy.jpg"-->
<!--                            class="img-fluid thumbnail"-->
<!--                            alt="..."-->
<!--                    />-->
<!--                </div>-->
<!--                &lt;!&ndash; 텍스트 영역 &ndash;&gt;-->
<!--                <div class="col-md-9 p-4">-->
<!--                    <div class="card-body">-->
<!--                        <h3 class="card-title mb-3">알리</h3>-->
<!--                        <div class="card-text">-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">종류</dt>-->
<!--                                <dd>강아지</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">분양주</dt>-->
<!--                                <dd>김은경</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">나이</dt>-->
<!--                                <dd>3세 추정</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">특이사항</dt>-->
<!--                                <dd>밥 투정이 있음</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">지역</dt>-->
<!--                                <dd>일산</dd>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="d-flex">-->
<!--                <div class="col-md-3">-->
<!--                    <img-->
<!--                            src="/images/dummy.jpg"-->
<!--                            class="img-fluid thumbnail"-->
<!--                            alt="..."-->
<!--                    />-->
<!--                </div>-->
<!--                &lt;!&ndash; 텍스트 영역 &ndash;&gt;-->
<!--                <div class="col-md-9 p-4">-->
<!--                    <div class="card-body">-->
<!--                        <h3 class="card-title mb-3">알리</h3>-->
<!--                        <div class="card-text">-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">종류</dt>-->
<!--                                <dd>강아지</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">분양주</dt>-->
<!--                                <dd>김은경</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">나이</dt>-->
<!--                                <dd>3세 추정</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">특이사항</dt>-->
<!--                                <dd>밥 투정이 있음</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">지역</dt>-->
<!--                                <dd>일산</dd>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="d-flex">-->
<!--                <div class="col-md-3">-->
<!--                    <img-->
<!--                            src="/images/dummy.jpg"-->
<!--                            class="img-fluid thumbnail"-->
<!--                            alt="..."-->
<!--                    />-->
<!--                </div>-->
<!--                &lt;!&ndash; 텍스트 영역 &ndash;&gt;-->
<!--                <div class="col-md-9 p-4">-->
<!--                    <div class="card-body">-->
<!--                        <h3 class="card-title mb-3">알리</h3>-->
<!--                        <div class="card-text">-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">종류</dt>-->
<!--                                <dd>강아지</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">분양주</dt>-->
<!--                                <dd>김은경</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">나이</dt>-->
<!--                                <dd>3세 추정</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">특이사항</dt>-->
<!--                                <dd>밥 투정이 있음</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">지역</dt>-->
<!--                                <dd>일산</dd>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="d-flex">-->
<!--                <div class="col-md-3">-->
<!--                    <img-->
<!--                            src="/images/dummy.jpg"-->
<!--                            class="img-fluid thumbnail"-->
<!--                            alt="..."-->
<!--                    />-->
<!--                </div>-->
<!--                &lt;!&ndash; 텍스트 영역 &ndash;&gt;-->
<!--                <div class="col-md-9 p-4">-->
<!--                    <div class="card-body">-->
<!--                        <h3 class="card-title mb-3">알리</h3>-->
<!--                        <div class="card-text">-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">종류</dt>-->
<!--                                <dd>강아지</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">분양주</dt>-->
<!--                                <dd>김은경</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">나이</dt>-->
<!--                                <dd>3세 추정</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">특이사항</dt>-->
<!--                                <dd>밥 투정이 있음</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">지역</dt>-->
<!--                                <dd>일산</dd>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="d-flex">-->
<!--                <div class="col-md-3">-->
<!--                    <img-->
<!--                            src="/images/dummy.jpg"-->
<!--                            class="img-fluid thumbnail"-->
<!--                            alt="..."-->
<!--                    />-->
<!--                </div>-->
<!--                &lt;!&ndash; 텍스트 영역 &ndash;&gt;-->
<!--                <div class="col-md-9 p-4">-->
<!--                    <div class="card-body">-->
<!--                        <h3 class="card-title mb-3">알리</h3>-->
<!--                        <div class="card-text">-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">종류</dt>-->
<!--                                <dd>강아지</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">분양주</dt>-->
<!--                                <dd>김은경</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">나이</dt>-->
<!--                                <dd>3세 추정</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">특이사항</dt>-->
<!--                                <dd>밥 투정이 있음</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                                <dt class="fw-bold">지역</dt>-->
<!--                                <dd>일산</dd>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
<script>
    // This is an example script, please modify as needed
    const rangeInput = document.querySelector("#range-input");
    const rangeOutput = document.querySelector("#range-value");

    // Set initial value
    rangeOutput.textContent = rangeInput.value;

    rangeInput.addEventListener("input", function () {
        rangeOutput.textContent = this.value;
    });
</script>
</html>
