<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/petlist.css" />
</head>
<body>
<div class="box">
    <div class="group">
        <div class="overlap">
            <header class="header">
                <div class="menu"><p class="menu-items"><span class="text-wrapper">Home&nbsp;&nbsp;&nbsp;&nbsp; Shop&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span class="span">Clinics</span> <span class="text-wrapper">&nbsp;&nbsp;&nbsp;&nbsp; Blog&nbsp;&nbsp;&nbsp;&nbsp; Shelters </span>
                </p> <img class="selected-feature" src="img/selected-feature.svg"/></div>
                <div class="login-signup">
                    <div class="overlap-group">
                        <div class="div">Alba</div>
                        <img class="rectangle" src="img/rectangle-20.png"/></div>
                </div>
                <img class="logo-top" src="img/logo-top.png"/></header>
            <img class="hero" src="img/hero.png"/>
            <div class="pass-btn">
                <div class="div-wrapper">
                    <div class="text-wrapper-2">키워드검색</div>
                </div>
            </div>
            <div class="ask-btn">
                <div class="overlap-2">
                    <div class="text-wrapper-3">검색</div>
                </div>
            </div>
        </div>
        <div class="clinic">
            <div class="overlap-3"><img class="clinic-pic" src="img/clinic-pic-2.png"/>
                <div class="name">알리</div>
                <div class="location"><img class="loc-logo" src="img/image.svg"/>
                    <div class="address">강아지 / M</div>
                </div>
                <div class="doc-name"><img class="vector" src="img/vector-3.svg"/>
                    <div class="text-wrapper-4">member01</div>
                </div>
            </div>
        </div>
        <div class="overlap-wrapper">
            <div class="overlap-3"><img class="clinic-pic" src="img/clinic-pic.png"/>
                <div class="name">신기한강아지</div>
                <div class="location"><img class="loc-logo" src="img/loc-logo-3.svg"/>
                    <div class="address">강아지 / M</div>
                </div>
                <div class="doc-name"><img class="vector" src="img/vector-2.svg"/>
                    <div class="text-wrapper-4">member01</div>
                </div>
            </div>
        </div>
        <div class="overlap-group-wrapper">
            <div class="overlap-3"><img class="clinic-pic" src="img/clinic-pic-3.png"/>
                <div class="name">신기한강아지</div>
                <div class="location"><img class="loc-logo" src="img/loc-logo.svg"/>
                    <div class="address">강아지 / M</div>
                </div>
                <div class="doc-name"><img class="vector" src="img/vector.svg"/>
                    <div class="text-wrapper-4">member01</div>
                </div>
                <div class="appointment">
                    <div class="text-wrapper-5">더 알아보기</div>
                </div>
            </div>
        </div>
        <div class="clinic-2">
            <div class="overlap-3"><img class="clinic-pic" src="img/image.png"/>
                <div class="name">신기한강아지</div>
                <div class="location"><img class="loc-logo" src="img/loc-logo-2.svg"/>
                    <div class="address">강아지 / M</div>
                </div>
                <div class="doc-name"><img class="vector" src="img/vector-4.svg"/>
                    <div class="text-wrapper-4">member01</div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="overlap-4">
                <div class="rectangle-2"></div>
                <img class="links" src="img/links.png"/>
                <div class="support">Support DevVentures@Gmail.com</div>
                <img class="logo-btn" src="img/logo-btn.png"/> <img class="line" src="img/line-1.svg"/>
                <div class="support-about">Support&nbsp;&nbsp; About</div>
                <div class="text-wrapper-6">2023 Dev Ventures Project</div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>