<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head(PROFILE)}"></head>
<link rel="stylesheet" href="/css/petnote/profile.css"/>
<style>
    body {display: flex;}
</style>
<body>
<nav class="sidebar">
    <ul>
        <li class="active">프로필</li>
        <li><a th:href="@{/petnote/diaryreg/{petID}(petID=${petID})}">성장일기</a></li>
    </ul>
    <div class="pet-info">
        <select name="petID" onchange="location.href='/petnote/profile/' + this.value">
            <option th:each="pet : ${petList}"
                    th:value="${pet.id}"
                    th:text="${pet.petName}"
                    th:selected="${pet.id == petID}">
            </option>
        </select>
    </div>
    <form th:action="@{/member/logout}" method="post">
        <button type="submit" class="btn btn-logout">
            <i class="bi bi-box-arrow-right"></i> 로그아웃
        </button>
    </form>
</nav>
<div class="profile-wrap">
    <form th:action="@{/petnote/profile/{userID}(userID=${#authentication.principal.loggedMember.userID})}"
          method="post" th:object="${petDto}">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="owner">
                        <div class="img-box">
                            <img th:src="@{'/PTGupload/upload/' + ${#authentication.principal.loggedMember.image}}"
                                 alt="프로필"/>
                        </div>
                        <div class="info">
                            <h5 th:text="${#authentication.principal.loggedMember.userName}">김은경</h5>
                            <p class="desc" th:text="*{petName} + '주인'">알리 강아지 주인</p>
                        </div>
                    </div>
                    <div class="info-box">
                        <p>
                            <i class="bi bi-emoji-smile"></i>
                            <span th:text="*{petName}">밍키</span>
                        </p>
                        <p>
                            <i class="bi bi-emoji-smile"></i>
                            <span th:text="*{species} + ' / ' + *{petGender}"> 강아지/M</span>
                        </p>
                        <p>
                            <i class="bi bi-calendar2-date"></i>
                            <span th:text="*{birthDate}">20.06.27</span>
                        </p>
                        <p>
                            <i class="bi  bi-box2-heart"></i>
                            <span th:text="*{follow} + ' followers'">117</span>
                        </p>
<!--                        <button class="btn btn-follow w-100 btn-lg">Follow</button>-->
                        <ul>
                            <li><a href="" id="btn-follow" data-subscribe="yes" class="btn btn-follow w-100 btn-lg">Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div class="detail-box">
                        <div class="img-box">
                            <img src="/images/dummy.jpg" alt=""/>
                            <img th:src="@{'/PTGupload/pet/' + ${}}"
                                 alt="프로필"/>
                        </div>
                        <div class="tab">
                            <ul class="nav">
                                <li class="on" onclick="showTab('intro')">
                                    <a href="javascript:void(0)">소개</a>
                                </li>
                                <li onclick="showTab('activity')">
                                    <a href="javascript:void(0)">활동</a>
                                </li>
                            </ul>
                            <div id="tab-content">
                                <div id="intro" class="tab-pane">
                                    <ul class="content">
                                        <li>
                                            <div>
                                                <i class="bi bi-sun"></i>
                                                <span th:text="*{content}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-stars"></i>
                                                <span th:text="*{character}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-hand-thumbs-up"></i>
                                                <span th:text="*{petLike}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-hand-thumbs-down"></i>
                                                <span th:text="*{petDislike}"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="activity" class="tab-pane" style="display:none;">
                                    <ul class="content">
                                        화려한 활동 수상경력
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<script>
    // This is an example script, please modify as needed
    const rangeInput = document.querySelector("#range-input");
    const rangeOutput = document.querySelector("#range-value");

    // Set initial value
    rangeOutput.textContent = rangeInput.value;

    rangeInput.addEventListener("input", function () {
        rangeOutput.textContent = this.value;
    });

</script>
<script>
    function showTab(tabId) {
        // 모든 탭 숨기기
        document.querySelectorAll('.tab-pane').forEach(el => el.style.display = 'none');
        // 해당 탭만 보이기
        document.getElementById(tabId).style.display = 'block';

        // 탭 활성화 표시
        document.querySelectorAll('.nav li').forEach(el => el.classList.remove('on'));
        if (tabId === 'intro') {
            document.querySelectorAll('.nav li')[0].classList.add('on');
        } else {
            document.querySelectorAll('.nav li')[1].classList.add('on');
        }
    }
</script>
<script>
    const btnFollow = document.querySelector("#btn-follow"); //있을 수도 있고 없을 수도 있고
    console.log("btnSubscribe===",btnFollow);
    const followStatus = btnFollow.dataset.follow;

    if (followStatus === "yes") {
        fetch(`/api/subscribe/${toMemberID}`, {
            method: "post"
        })
            .then(response => response.json())
            .then(json => {
                if (json.isFollow) {
                    alert("팔로우성공");
                    btnFollow.dataset.follow = "no";
                    btnFollow.textContent="Following";
                } else {
                    alert("오류");
                }
            })
    } else {
        fetch(`/api/subscribe/${toMemberID}`, {
            method: "delete"
        })
            .then(response => response.json())
            .then(json => {
                if (json.isFollowDelete) {
                    alert("팔로우취소");
                    btnFollow.dataset.follow = "yes";
                    btnFollow.textContent="Follow";
                } else {
                    alert("오류02");
                }
            })
    }
</script>
</html>
