<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head::head(PROFILE)}"></head>
<link rel="stylesheet" href="/css/petnote/profile.css"/>
<body>
<nav class="sidebar h100vh" id="profile-header">
    <ul>
        <li class="logo">
            <a href="/index/index">
                <img src="/images/logo.png" alt="로고">
            </a>
        </li>
        <a th:href="@{/petnote/profile/{petID}(petID=${petID})}">
            <li class="active">프로필</li>
        </a>
        <a th:href="@{/petnote/diary/{petID}(petID=${petID})}">
            <li>성장일기</li>
        </a>
        <th:block sec:authorize="isAuthenticated()">
                <form th:action="@{/member/logout}" method="post">
                    <button type="submit" class="btn btn-logout">
                        <i class="bi bi-box-arrow-right"></i> 로그아웃
                    </button>
                </form>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/member/login}" class="btn btn-login">
                    <i class="bi bi-box-arrow-in-right"></i> 로그인
                </a>
        </th:block>
    </ul>
</nav>

<div class="profile-wrap">
    <form th:action="@{/petnote/profile/${petID}}"
          method="post" th:object="${petDto}">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="owner">
                        <div class="img-box">
                            <img th:src="@{'/PTGUpload/upload/' + ${petDto.userImage}}"
                                 onerror="this.onerror=null; this.src='/images/default-image.jpg';"
                                 alt="프로필 이미지"/>
                        </div>
                        <div class="info">
                            <h5 th:text="*{userName}">김은경</h5>
                            <p class="desc" th:text="*{petName} + '주인'">알리 강아지 주인</p>
                            <div class="pet-info">
                                <select name="petID" onchange="location.href='/petnote/profile/' + this.value">
                                    <option th:each="pet : ${petList}"
                                            th:value="${pet.id}"
                                            th:text="${pet.petName}"
                                            th:selected="${pet.id == petID}">
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="info-box">

                        <p>
                            <i class="bi bi-emoji-smile"></i>
                            <span th:text="*{petName}">밍키</span>
                        </p>
                        <p>
                            <i class="bi bi-emoji-smile"></i>
                            <span th:text="*{species} + ' / ' + *{petGender}"> 강아지/M</span>
                        </p>
                        <p>
                            <i class="bi bi-calendar2-date"></i>
                            <span th:text="*{birthDate}">20.06.27</span>
                        </p>
                        <p>
<!--                            <i class="bi  bi-box2-heart"></i>-->
<!--                            <span class="follower-count" th:text="|${petInfo.getFollowers()} |">0명</span>-->

                            <i class="bi bi-box2-heart"></i>
                            <span class="follower-count" th:text="|팔로워 : ${petInfo.getFollowers()}명|">팔로워 : 0명</span>

                        </p>

                        <th:block sec:authorize="isAuthenticated()">
                            <th:block th:if="${#authentication.principal.loggedMember.id != memberID}">
                                <ul>
                                    <li>
                                        <a href="#"
                                           id="btn-follow"
                                           th:data-follow="${isFollow} ? 'no' : 'yes'"
                                           th:classappend="${isFollow} ? 'btn-following' : 'btn-follow'"
                                           class="btn w-100 btn-lg">
                                            <span th:text="${isFollow} ? 'Following' : 'Follow'">Follow</span>
                                        </a>
                                    </li>
                                </ul>
                            </th:block>
                        </th:block>


                    </div>
                </div>
                <div class="col-8">
                    <div class="detail-box">
                        <div class="img-box">
                            <img th:src="@{'/PTGUpload/pet/' + *{profileImg}}" alt="프로필"/>
                        </div>
                        <div class="tab">
                            <ul class="nav">
                                <li class="on" onclick="showTab('intro')">
                                    <a href="javascript:void(0)">소개</a>
                                </li>
                                <li onclick="showTab('activity')">
                                    <a href="javascript:void(0)">활동</a>
                                </li>
                            </ul>
                            <div id="tab-content">
                                <div id="intro" class="tab-pane">
                                    <ul class="content">
                                        <li>
                                            <div>
                                                <i class="bi bi-sun spacing"></i>
                                                소개 :
                                                <span th:text="*{content}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-stars spacing"></i>
                                                성격 :
                                                <span th:text="*{character}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-hand-thumbs-up spacing"></i>
                                                좋아하는 것 :
                                                <span th:text="*{petLike}"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-hand-thumbs-down spacing"></i>
                                                싫어하는 것 :
                                                <span th:text="*{petDislike}"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="activity" class="tab-pane" style="display:none;">
                                    <ul class="content">
                                        <li>
                                            <div>
<!--                                                <i class="bi bi-heart spacing"></i>-->
<!--                                                팔로워 :-->
<!--                                                <span class="follower-count" th:text="|${petInfo.getFollowers()} |">0명</span>-->

                                                <i class="bi bi-emoji-kiss spacing"></i>
                                                <span class="follower-count" th:text="|팔로워 : ${petInfo.getFollowers()}명|">팔로워 : 0명</span>

                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-emoji-kiss spacing"></i>
                                                팔로잉 :
                                                <span th:text="|${petInfo.getFollowings()} 명|"> 팔로잉 수 </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-book spacing"></i>
                                                일기장 :
                                                <span th:text="|${petInfo.getDiaryCount()} 장|"> 일기 수</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <i class="bi bi-megaphone spacing"></i>
                                                장기자랑 :
                                                <span th:text="|${petInfo.getShowOffCount()} 자랑|"> 장기자랑 수</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    // This is an example script, please modify as needed
    const rangeInput = document.querySelector("#range-input");
    const rangeOutput = document.querySelector("#range-value");

    // Set initial value
    rangeOutput.textContent = rangeInput.value;

    rangeInput.addEventListener("input", function () {
        rangeOutput.textContent = this.value;
    });

</script>
<script>
    function showTab(tabId) {
        // 모든 탭 숨기기
        document.querySelectorAll('.tab-pane').forEach(el => el.style.display = 'none');
        // 해당 탭만 보이기
        document.getElementById(tabId).style.display = 'block';

        // 탭 활성화 표시
        document.querySelectorAll('.nav li').forEach(el => el.classList.remove('on'));
        if (tabId === 'intro') {
            document.querySelectorAll('.nav li')[0].classList.add('on');
        } else {
            document.querySelectorAll('.nav li')[1].classList.add('on');
        }
    }
</script>
<script th:inline="javascript">
    const btnFollow = document.querySelector("#btn-follow");
    const  followerCountSpans = document.querySelectorAll(".follower-count");
    //const followStatus = btnFollow.dataset.follow;
    const toPetID = /*[[${petDto.petID}]]*/ 5;
    console.log("toPetID ====== ", toPetID);

    function updateFollowerCount(change) {
        followerCountSpans.forEach(span => {
            const numberMatch = span.textContent.match(/\d+/);
            const current = numberMatch ? parseInt(numberMatch[0]) : 0;
            const updated = current + change;
            span.textContent = `팔로워 : ${updated} 명`;
        });
    }


    btnFollow.addEventListener("click", function (e) {
        e.preventDefault();

        const followStatus = btnFollow.dataset.follow;

        if (followStatus === "yes") {
            console.log("yes")
            fetch(`/api/follow/${toPetID}`, {
                method: "post"
            })
                .then(response => response.json())
                .then(json => {
                    if (json.isFollow) {
                        alert("팔로우성공");
                        btnFollow.dataset.follow = "no";
                        btnFollow.textContent = "Following";
                        console.log("팔로우성공")

                        btnFollow.classList.remove("btn-follow");
                        btnFollow.classList.add("btn-following");

                        updateFollowerCount(1);

                    } else {
                        alert("오류");
                    }
                });
        } else {
            console.log("no")
            fetch(`/api/follow/${toPetID}`, {
                method: "delete"
            })
                .then(response => response.json())
                .then(json => {
                    if (json.isFollowDelete) {
                        alert("팔로우취소");
                        btnFollow.dataset.follow = "yes";
                        btnFollow.textContent = "Follow";
                        console.log("팔로우취소 성공")

                        btnFollow.classList.remove("btn-following");
                        btnFollow.classList.add("btn-follow");

                        updateFollowerCount(-1);

                    } else {
                        alert("오류02");
                    }
                });
        }
    });

</script>
</html>
