<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>자유게시판</title>
  <!-- 공통 head 불러오기 -->
  <th:block th:replace="fragments/head :: head('자유게시판')"></th:block>

  <!-- 자유게시판 전용 CSS 추가 -->
  <link rel="stylesheet" href="/css/community/board.css" />
</head>

<body>

<!-- Header 영역 -->
<div th:replace="fragments/header :: headerFragment"></div>

<div class="board-wrapper">
  <div class="board-title">
    자유게시판
  </div>


  <div class="board-controls">
    <form action="/community/board" method="GET" class="search-form">
      <input type="text" name="keyword" placeholder="검색어를 입력해주세요." th:value="${keyword}" />
      <button type="submit" class="btn-search">검색</button>
    </form>
    <button class="btn-register" onclick="location.href='/community/boardreg'">글 등록</button>
  </div>

  <table class="board-table">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>이름</th>
      <th>아이디</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board, iterStat : ${boards}">
      <td th:text="${board.id}">1</td>
      <td class="title"><a th:href="@{/community/boarddetail/{id}(id=${board.id})}" th:text="${board.subject}">게시글 제목</a></td>
      <td th:text="${board.member.userName}">작성자 이름</td>
      <td th:text="${board.member.userID}">작성자 아이디</td>
      <td th:text="${board.modifyDate != null} ? ${#temporals.format(board.modifyDate, 'yyyy-MM-dd')} : ${#temporals.format(board.regDate, 'yyyy-MM-dd')}">2025-07-01</td>
    </tr>
    <!-- 추가 게시글 -->
    </tbody>
  </table>

  <div class="pagination">
    <span th:if="${boardPage.hasPrevious()}">
        <a th:href="@{/community/board(page=${boardPage.number - 1}, keyword=${keyword})}">이전</a>
    </span>

    <span th:text="${boardPage.number + 1} + ' page / ' + ${boardPage.totalPages} + ' pages'"></span>

    <span th:if="${boardPage.hasNext()}">
        <a th:href="@{/community/board(page=${boardPage.number + 1}, keyword=${keyword})}">다음</a>
    </span>
  </div>
</div>

<!-- Footer 영역 -->
<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>