<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href="/css/faq.css"/>
    <title>FAQ</title>
</head>
<body>
<div class="faq-header">
    FAQ
</div>
<div class="table">
    <div class="div">
        <div class="row">
            <div class="cell">
                <div class="content">
                    <div class="text">제목</div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content">
                    <div class="text">작성자</div>
                </div>
            </div>
            <div class="div-wrapper">
                <div class="content">
                    <div class="text">작성시간</div>
                </div>
            </div>
            <div class="cell-2">
                <div class="content">
                    <div class="text">조회수</div>
                </div>
            </div>
            <div class="cell-3">
                <div class="content">
                    <div class="text">답변여부</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <div class="content"><p class="text-wrapper">동영상에 유튜브 링크 어떻게 넣나요?</p></div>
            </div>
            <div class="cell-5">
                <div class="content">
                    <div class="text-2">선우영여</div>
                </div>
            </div>
            <div class="cell-6">
                <div class="content">
                    <div class="text-wrapper">2025-06-30</div>
                </div>
            </div>
            <div class="cell-7">
                <div class="content">
                    <div class="text-2">5</div>
                </div>
            </div>
            <div class="cell-8">
                <div class="content">
                    <div class="text-2">답변준비중</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <div class="content"><p class="text-wrapper">저희 개가 무지개다리를 건넜는데 게시글 삭제해 주실 수 있나요?</p></div>
            </div>
            <div class="cell-5">
                <div class="content">
                    <div class="text-2">김문철</div>
                </div>
            </div>
            <div class="cell-6">
                <div class="content">
                    <div class="text-wrapper">2025-06-29</div>
                </div>
            </div>
            <div class="cell-7">
                <div class="content">
                    <div class="text-2">10</div>
                </div>
            </div>
            <div class="cell-8">
                <div class="content">
                    <div class="text-2">답변준비중</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <div class="content"><p class="text-wrapper">차후에 중고 애완용품 판매 장터도 열어주실 수 있나요?</p></div>
            </div>
            <div class="cell-5">
                <div class="content">
                    <div class="text-2">고윤정</div>
                </div>
            </div>
            <div class="cell-6">
                <div class="content">
                    <div class="text-wrapper">2025-06-29</div>
                </div>
            </div>
            <div class="cell-7">
                <div class="content">
                    <div class="text-2">20</div>
                </div>
            </div>
            <div class="cell-8">
                <div class="content">
                    <div class="text-2">답변준비중</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <div class="content">
                    <div class="text-wrapper">회사 위치가 어디인가요?</div>
                </div>
            </div>
            <div class="cell-5">
                <div class="content">
                    <div class="text-2">한보름</div>
                </div>
            </div>
            <div class="cell-6">
                <div class="content">
                    <div class="text-wrapper">2025-06-28</div>
                </div>
            </div>
            <div class="cell-7">
                <div class="content">
                    <div class="text-2">45</div>
                </div>
            </div>
            <div class="cell-8">
                <div class="content">
                    <div class="text-2">답변완료</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <div class="content"><p class="text-wrapper">지난번에 문의드린 건에 대해 추가 질문사항 있습니다.</p></div>
            </div>
            <div class="cell-5">
                <div class="content">
                    <div class="text-2">장성호</div>
                </div>
            </div>
            <div class="cell-6">
                <div class="content">
                    <div class="text-wrapper">2025-06-26</div>
                </div>
            </div>
            <div class="cell-7">
                <div class="content">
                    <div class="text-2">78</div>
                </div>
            </div>
            <div class="cell-8">
                <div class="content">
                    <div class="text-2">답변완료</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
