<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head(LOGIN)}"></head>

<body>
<header th:replace="~{fragments/header}"></header>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row login-wrap">
    <div class="col-6">
      <h2 class="mb-5 text-center">
        <a href="/index/index">
          <img src="/images/logo.png" alt="" class="logo-img"/>
        </a>
      </h2>

      <div class="login-box">
        <a href="">카카오로그인</a>

        <p><span>or email login</span></p>

        <!-- 로그인 에러 메시지 -->
        <div th:if="${param.error}" class="alert alert-danger text-center">
          아이디 또는 비밀번호가 올바르지 않습니다.
        </div>

        <!-- 로그인 폼 -->
        <form method="post" action="/member/login">
          <div class="input-group mb-3">
            <input type="text" name="userID" class="form-control form-control-lg" placeholder="Username" required />
          </div>

          <div class="input-group mb-3">
            <input type="password" name="userPW" class="form-control form-control-lg" placeholder="Password" required />
          </div>

          <div class="input-group mb-3">
            <button type="submit" class="btn btn-primary btn-lg w-100">LOGIN</button>
          </div>
        </form>

        <!-- 회원가입 이동 버튼 -->
        <div class="input-group mb-3">
          <a href="/member/signup" class="btn btn-outline-secondary btn-lg w-100">SIGNUP</a>
        </div>
      </div>
    </div>

    <div class="col-6 px-5 bg-box">
      <div class="slogan">
        <p class="main"><span>pet the</span> <span>garden</span></p>
        <p class="sub">강아지도 고양이도 행복한 정원</p>
      </div>
      <img src="/images/login.png" alt="로그인 일러스트" />
    </div>
  </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>