<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head(SIGNUP)}"></head>

<body>
<header th:replace="~{fragments/header}"></header>
<div
        class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="row signup-wrap">
    <div class="col-6">
      <h2 class="mb-5 text-center">
        <img src="/images/logo.png" alt="" class="logo-img"/>
      </h2>
      <div class="signup-box">
        <div class="mb-3">
          <label for="user-id" class="form-label fw-bold">ID</label>
          <div class="row">
            <div class="col-9">
              <input
                      type="text"
                      class="form-control ps-4"
                      id="user-id"
                      placeholder="user id"
              />
            </div>
            <div class="col-3">
              <button class="btn btn-primary w-100">중복확인</button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fw-bold">PASSWORD</label>
          <div>
            <input
                    type="password"
                    class="form-control ps-4"
                    id="password"
                    placeholder="user id"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="password02" class="form-label fw-bold"
          >PASSWORD CONFIRM</label
          >
          <div>
            <input
                    type="password"
                    class="form-control ps-4"
                    id="password02"
                    placeholder="password"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fw-bold">EMAIL</label>
          <div>
            <input
                    type="email"
                    class="form-control ps-4"
                    id="password"
                    placeholder="user id"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fw-bold">TEL</label>
          <div>
            <input
                    type="tel"
                    class="form-control ps-4"
                    id="password"
                    placeholder="user id"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="user-id" class="form-label fw-bold">ZIPCODE</label>
          <div class="row">
            <div class="col-4 mb-2">
              <input
                      type="text"
                      class="form-control ps-4"
                      id="user-id"
                      placeholder="user id"
              />
            </div>
            <div class="col-3">
              <button class="btn btn-primary w-100">우편번호 검색</button>
            </div>
            <div class="col-12 mb-2">
              <input
                      type="text"
                      class="form-control ps-4"
                      id="user-id"
                      placeholder="user id"
              />
            </div>
            <div class="col-12">
              <input
                      type="text"
                      class="form-control ps-4"
                      id="user-id"
                      placeholder="user id"
              />
            </div>
          </div>
        </div>
        <div class="mb-5">
          <label for="user-id" class="form-label fw-bold">ID</label>
          <div class="row">
            <div class="col-9">
              <input
                      type="text"
                      class="form-control ps-4"
                      id="user-id"
                      placeholder="user id"
              />
            </div>
            <div class="col-3">
              <button class="btn btn-primary w-100">파일업로드</button>
            </div>
          </div>
        </div>
        <div class="my-5 text-center">
          <button class="btn btn-primary w-100">SIGN UP</button>
        </div>
      </div>
    </div>
    <div class="col-6 bg-box px-5">
      <div class="slogan">
        <p class="main"><span>pet the</span> <span>garden</span></p>
        <p class="sub">강아지도 고양이도 행복한 정원</p>
      </div>
      <img src="/images/login.png" alt="" />
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
