.diary-box {
    display: flex;
    height: 938px;
}

.row.custom-row   {
    margin-right: -385px;
}


.main-visual .slogan.custom-slogan {
    font-weight: 100;
    position: absolute;
    left: 373px;
    top: 4%;
    transform: none
}

.main-visual .slogan .main {
    font-size: 4vw;
}

.profile-wrap .diary-reg-detail {
    height: 400px;
    width: 1320px;
    margin-top: 20px;
}

form div {
    margin-bottom: 16px;
}


.profile-wrap .text-content {
    height: 300px;
    width: 940px;
}

.container .diary-upload {
    margin-top: 30px;
}