<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/best.css}"/>
</head>
<body>
<div class="box">
    <div class="group">
        <div class="overlap-group">
            <div class="text-wrapper">명예의 전당</div>
            <div class="overlap">
                <div class="div">
                    <div class="text-wrapper-2">월요일이라 누운 고양이</div>
                    <div class="text-wrapper-3">카드값줘체리</div>
                </div>
                <img class="element" th:src="@{/images/고양이.png}"/></div>
            <div class="overlap-2">
                <div class="text-wrapper-4">월요일이라 슬픈 앵무새</div>
                <div class="text-wrapper-5">니이모를 찾아서</div>
                <img class="img" th:src="@{/images/개구리입쏙독새.jpg}"/></div>
            <div class="overlap-3">
                <div class="rectangle"></div>
                <img class="arrow-drop-down" th:src="@{/images/아래화살표.png}"/>
                <div class="rectangle-2"></div>
                <div class="text-wrapper-6">7월</div>
            </div>
            <div class="overlap-4">
                <div class="text-wrapper-7">월요일이라 피곤한 개</div>
                <div class="text-wrapper-8">피자헛둘셋넷</div>
                <img class="element-2" th:src="@{/images/웰시코기.png}"/></div>
        </div>
    </div>
</div>
</body>
</html>
