<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/correct.css}"/>
</head>
<body>
<div class="box">
    <div class="group">
        <div class="overlap-group">
            <div class="pic"></div>
            <div class="overlap"><p class="title"><span class="text-wrapper">동물 이름 : </span> <span class="span">박명수<br/></span>
                <span class="span"></span></p>
                <div class="flexcontainer"><p class="text"><span class="text-wrapper-2"><br/></span></p>
                    <p class="text"><span class="text-wrapper-3">품종</span> <span
                            class="text-wrapper-2"> : 시바견<br/></span></p>
                    <p class="text"><span class="text-wrapper-3">출생일</span> <span class="text-wrapper-2">&nbsp;&nbsp;: 2018.06.30<br/></span>
                    </p>
                    <p class="text"><span class="text-wrapper-3">성별</span> <span class="text-wrapper-2">&nbsp;&nbsp;:&nbsp;&nbsp;M<br/></span>
                    </p>
                    <p class="text"><span class="text-wrapper-3">간단 소개하기</span> <span class="text-wrapper-2"> : 우리집 개새끼입니다.<br/></span>
                    </p>
                    <p class="text"><span class="text-wrapper-3">특기</span> <span class="text-wrapper-2"> : 늘 피곤한 표정을 잘 짓습니다.<br/></span>
                    </p>
                    <p class="text"><span class="text-wrapper-2"><br/></span></p>
                    <p class="text"><span class="text-wrapper-2"><br/></span></p>
                    <p class="text"><span class="text-wrapper-2"></span></p></div>
                <img class="rectangle" src="img/rectangle-229.svg"/>
                <div class="div">수정완료</div>
                <img class="img" src="img/rectangle-230.svg"/>
                <div class="text-wrapper-4">삭제</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>