<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/showlist.css}" />
</head>
<body>
<div class="box">
    <div class="group">
        <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="text-wrapper">이 달의 인기 게시글</div>
            <div class="div">전체 게시글</div>
            <div class="rectangle-1"></div>
            <div class="text-wrapper-2">월요일이라 피곤한 개</div>
            <div class="text-wrapper-3">피자헛둘셋넷</div>
            <div class="rectangle-2"></div>
            <div class="text-wrapper-4">월요일이라 누운 고양이</div>
            <div class="text-wrapper-5">카드값줘체리</div>
            <div class="rectangle-3"></div>
            <div class="text-wrapper-6">월요일이라 슬픈 앵무새</div>
            <div class="text-wrapper-7">니이모를 찾아서</div>
            <div class="table">
                <div class="table-2">
                    <div class="row">
                        <div class="cell">
                            <div class="content"><div class="text">게시물 제목</div></div>
                        </div>
                        <div class="content-wrapper">
                            <div class="content"><div class="text">닉네임</div></div>
                        </div>
                        <div class="div-wrapper">
                            <div class="content"><div class="text">작성일</div></div>
                        </div>
                        <div class="cell-2">
                            <div class="content"><div class="text">조회수</div></div>
                        </div>
                        <div class="cell-3">
                            <div class="content"><div class="text">추천수</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-4">
                            <div class="content"><div class="text-2">백덤블링 하는 원숭이</div></div>
                        </div>
                        <div class="cell-5">
                            <div class="content"><div class="text-2">꼬리조팝나무</div></div>
                        </div>
                        <div class="cell-6">
                            <div class="content"><div class="text-2">2025.06.25</div></div>
                        </div>
                        <div class="cell-7">
                            <div class="content"><div class="text">100</div></div>
                        </div>
                        <div class="cell-8">
                            <div class="content"><div class="text">30</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-4">
                            <div class="content"><div class="text-2">목 돌리는 아기 기린</div></div>
                        </div>
                        <div class="cell-5">
                            <div class="content"><div class="text-2">존넨쉬름</div></div>
                        </div>
                        <div class="cell-6">
                            <div class="content"><div class="text-2">2025.06.26</div></div>
                        </div>
                        <div class="cell-7">
                            <div class="content"><div class="text">90</div></div>
                        </div>
                        <div class="cell-8">
                            <div class="content"><div class="text">25</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-4">
                            <div class="content"><div class="text-2">뼈다귀 물어다 주는 호랑이</div></div>
                        </div>
                        <div class="cell-5">
                            <div class="content"><div class="text-2">생갈치1호의 행방불명</div></div>
                        </div>
                        <div class="cell-6">
                            <div class="content"><div class="text-2">2025.06.27</div></div>
                        </div>
                        <div class="cell-7">
                            <div class="content"><div class="text">80</div></div>
                        </div>
                        <div class="cell-8">
                            <div class="content"><div class="text">20</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-4">
                            <div class="content"><p class="text-2">주인 가족 안부 물어주는 앵무새</p></div>
                        </div>
                        <div class="cell-5">
                            <div class="content"><div class="text-2">이웃집 또털어</div></div>
                        </div>
                        <div class="cell-6">
                            <div class="content"><div class="text-2">2025.06.28</div></div>
                        </div>
                        <div class="cell-7">
                            <div class="content"><div class="text">70</div></div>
                        </div>
                        <div class="cell-8">
                            <div class="content"><div class="text">15</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-4">
                            <div class="content"><div class="text-2">다트 하는 다람쥐</div></div>
                        </div>
                        <div class="cell-5">
                            <div class="content"><div class="text-2">중고딘 알라서점</div></div>
                        </div>
                        <div class="cell-6">
                            <div class="content"><div class="text-2">2025.06.29</div></div>
                        </div>
                        <div class="cell-7">
                            <div class="content"><div class="text">60</div></div>
                        </div>
                        <div class="cell-8">
                            <div class="content"><div class="text">10</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="element" src="img/1.png" />
            <img class="element-2" src="img/image.png" />
            <img class="element-3" src="img/1-2.png" />
            <div class="write-wrapper">
                <div class="rectangle-4">
                <span class="text-wrapper-8">글쓰기</span>
            </div>
    </div>
</div>
</body>
</html>
