<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
</head>
<body>
<div class="box">
    <div class="group">
        <div class="overlap-group">
            <img class="logo" src="../../static/images/logo.png" />
            <img class="phone" src="../../static/images/phone.png" />
            <img class="twitter" src="../../static/images/twitter.png" />
            <img class="instagram" src="../../static/images/insta.png" />
            <img class="whats-app" src="../../static/images/whats-app.png" />
            <div class="text-wrapper">PetTheGarden@gmail.com</div>
        </div>
    </div>
</div>
</body>
</html>
