<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head(detail)}"></head>
<link rel="stylesheet" href="/css/stray/detail.css" />
<!--</head>-->
<body>
<header th:replace="~{fragments/header}"></header>
<div class="protect-wrap">
    <div class="container-fluid">

        <div class="animals-detail">
            <div class="detailImgRap">
                <img th:src="${detailInfo.imageCours}" onerror="this.onerror=null; this.src='/images/noImage.png'">
            </div>

            <h4 class="my-3">동물의 정보</h4>
            <table class="table detail-table mt-0 mb-5">
                <caption>동물의 정보로 동물등록번호, 품종, 나이, 몸무게, 성별, 중성화 여부, 색상, 특징을 안내하고 있습니다.</caption>
                <colgroup>
                    <col style="width: 160px">
                    <col style="width: 500px">
                    <col style="width: 160px">
                    <col style="width: 500px">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" class="first">동물등록번호</th>
                    <td class="text-left" th:text="${detailInfo.abdmIdNtfyNo}"></td>
                    <th scope="row">품종</th>
                    <td class="text-left last" th:text="${detailInfo.speciesNm}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">나이</th>
                    <td class="text-left" th:text="${detailInfo.ageInfo}"></td>
                    <th scope="row">몸무게</th>
                    <td class="text-left last" th:text="${detailInfo.bdwghInfo}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">성별</th>
                    <td class="text-left" th:text="${detailInfo.sexNmKor}"></td>
                    <th scope="row">중성화 여부</th>
                    <td class="text-left last" th:text="${detailInfo.neutYnKor}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">색상</th>
                    <td class="text-left" th:text="${detailInfo.colorNm}"></td>
                    <th scope="row">특징</th>
                    <td class="text-left last" colspan="3" th:text="${detailInfo.sfetrInfo}"></td>
                </tr>
                </tbody>
            </table>

            <h4 class="my-3">구조 정보</h4>
            <table class="table detail-table mt-0 mb-2">
                <caption>구조 정보로 구조일, 상태, 구조장소, 공고기간을 안내하고 있습니다.</caption>
                <colgroup>
                    <col style="width: 160px">
                    <col style="width: 500px">
                    <col style="width: 160px">
                    <col style="width: 500px">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" class="first">구조일</th>
                    <td class="text-left last" th:text="${formattedBeginDate}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">상태</th>
                    <td class="text-left last" colspan="3" th:text="${detailInfo.stateNm}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">구조장소</th>
                    <td class="text-left last" colspan="3" th:text="${detailInfo.discvryPlcInfo}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">공고기간</th>
                    <td class="text-left last" colspan="3"th:text="${formattedBeginDate + ' ~ ' + formattedEndDate}"></td>
                </tr>
                </tbody>
            </table>
            <div class="info-ment mb-5">유기동물 문의는 보호센터에 연락하시기 바랍니다.</div>

            <h4 class="my-3">동물보호센터 안내</h4>
            <table class="table detail-table mt-0 mb-5">
                <caption>동물보호센터의 정보로 관할보호센터명, 주소, 전화번호를 안내하고 있습니다.</caption>
                <colgroup>
                    <col style="width: 160px">
                    <col style="width: 500px">
                    <col style="width: 160px">
                    <col style="width: 500px">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" class="first">관할 보호센터명</th>
                    <td class="text-left" th:text="${detailInfo.shterNm}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">주소</th>
                    <td class="text-left last" colspan="3" th:text="${detailInfo.protectPlc}"></td>
                </tr>
                <tr>
                    <th scope="row" class="first">전화번호</th>
                    <td class="text-left last" colspan="3" th:text="${detailInfo.shterTelno}"></td>
                </tr>
                </tbody>
            </table>

            <h4 class="my-3">그 밖의 사항</h4>
            <div class="border-box mb-5">
                위 동물을 잃어버린 소유자는 보호센터로 문의하시어 동물을 찾아가시기 바랍니다. 다만, 「동물보호법」 제42조 및 같은 법 시행규칙 제27조에 따라 소유자에게 보호비용이 청구될 수
                있습니다. 또한 「동물보호법」 제40조에 따른 공고가 있는 날부터 10일이 지나도 소유자등을 알 수 없는 경우에는 「유실물법」 제12조 및 「민법」 제253조에도 불구하고 해당 시·도지사
                또는 시장·군수·구청장이 그 동물의 소유권을 취득하게 됩니다.
                <div class="text-center my-5">2025 년 07 월 09 일</div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
<script>

</script>
</html>