<!DOCTYPE html>
<html>
<head th:replace="~{fragments/head::head(protect)}"></head>
<!--</head>-->
<body>
<header th:replace="~{fragments/header}"></header>
<div class="protect-wrap">
    <h1><span>Protection</span></h1>
    <div class="container-fluid">
        <div class="protection-wrap">
            <div class="search-wrap">
                <form action="">
                    <div class="row mb-2 w-50">
                        <label for="" class="col-3 col-form-label label-100"
                        >날짜</label
                        >
                        <div class="col-4">
                            <input type="date" class="form-control" id="" />
                        </div>
                        <div
                                class="col-1 d-flex align-items-center justify-content-center"
                        >
                            ~
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control w-100" id="" />
                        </div>
                    </div>
                    <div class="row mb-2 w-50">
                        <label for="" class="col-3 col-form-label label-100"
                        >발견장소</label
                        >
                        <div class="col-9">
                            <input type="text" class="form-control w-100" id="" />
                        </div>
                    </div>
                    <div class="row mb-2 w-50">
                        <label for="" class="col-3 col-form-label label-100"
                        >품종</label
                        >
                        <div class="col-9">
                            <input type="text" class="form-control w-100" id="" />
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <button class="btn btn-primary btn-lg w-20">조회</button>
                    </div>
                </form>
            </div>
            <div class="row mt-5 result-list">
                <div class="col-3">
                    <div class="card">
                        <div class="img-box">
                            <img src="../images/dog.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>말티즈</h4>
                            <dl>
                                <dt>성별</dt>
                                <dd>미상</dd>
                            </dl>
                            <dl>
                                <dt>발견장소</dt>
                                <dd>경기도 고양시 일산동구</dd>
                            </dl>
                            <dl>
                                <dt>특징</dt>
                                <dd>흰색에 까만 털이 있음</dd>
                            </dl>
                        </div>
                        <div class="sticker">
                            <strong>04</strong>
                            <span>2025-08</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="img-box">
                            <img src="../images/dog.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>말티즈</h4>
                            <dl>
                                <dt>성별</dt>
                                <dd>미상</dd>
                            </dl>
                            <dl>
                                <dt>발견장소</dt>
                                <dd>경기도 고양시 일산동구</dd>
                            </dl>
                            <dl>
                                <dt>특징</dt>
                                <dd>흰색에 까만 털이 있음</dd>
                            </dl>
                        </div>
                        <div class="sticker">
                            <strong>04</strong>
                            <span>2025-08</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="img-box">
                            <img src="../images/dog.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>말티즈</h4>
                            <dl>
                                <dt>성별</dt>
                                <dd>미상</dd>
                            </dl>
                            <dl>
                                <dt>발견장소</dt>
                                <dd>경기도 고양시 일산동구</dd>
                            </dl>
                            <dl>
                                <dt>특징</dt>
                                <dd>흰색에 까만 털이 있음</dd>
                            </dl>
                        </div>
                        <div class="sticker">
                            <strong>04</strong>
                            <span>2025-08</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="img-box">
                            <img src="../images/dog.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>말티즈</h4>
                            <dl>
                                <dt>성별</dt>
                                <dd>미상</dd>
                            </dl>
                            <dl>
                                <dt>발견장소</dt>
                                <dd>경기도 고양시 일산동구</dd>
                            </dl>
                            <dl>
                                <dt>특징</dt>
                                <dd>흰색에 까만 털이 있음</dd>
                            </dl>
                        </div>
                        <div class="sticker">
                            <strong>04</strong>
                            <span>2025-08</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="img-box">
                            <img src="../images/dog.png" alt="" />
                        </div>
                        <div class="info">
                            <h4>말티즈</h4>
                            <dl>
                                <dt>성별</dt>
                                <dd>미상</dd>
                            </dl>
                            <dl>
                                <dt>발견장소</dt>
                                <dd>경기도 고양시 일산동구</dd>
                            </dl>
                            <dl>
                                <dt>특징</dt>
                                <dd>흰색에 까만 털이 있음</dd>
                            </dl>
                        </div>
                        <div class="sticker">
                            <strong>04</strong>
                            <span>2025-08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
<script>
    const rangeInput = document.querySelector("#range-input");
    const rangeOutput = document.querySelector("#range-value");

    rangeOutput.textContent = rangeInput.value;

    rangeInput.addEventListener("input", function () {
        rangeOutput.textContent = this.value;
    });
</script>
</html>